// color
$point-blue: #1F4BE1;
$gray-ft: #D3D3D3;
$gray-des: #454545;

// apple sd font weight
$regular: 400;
$medium: 500;
$semi-bold: 600;
$bold: 700;
$heavy: 900;

/*
media query break point
pc : 1001px~ (tablet 가로모드 부터)
ipad pro 세로모드(1024px) : tablet size mobile view
mobile view : ~1000px (tablet 세로모드까지)
tablet 비율 조정 : 580px ~ 999px
only mobile : ~579px
 */

$grid-bp-pro-port: 1024px; // ipad pro 세로모드 => mobile tablet size
$grid-bp-mobile: 1000px; // mobile view max point
$grid-bp-tablet-start: 580px; // mobile view => tablet size