.toy-sub-title {
	position: absolute;
	top: 1.7vw;
	left: 54vw;

	@media (max-width: $grid-bp-mobile) {
		position: static;
		padding-top: 2.2vw;
		@media (min-width: $grid-bp-tablet-start) {
			padding-top: 1vw;
		}
	}
}

// toy contents section

.toy-contents {
	position: relative;
	z-index: 1;
	// 공통 요소
	.contents-box {
		display: flex;
		align-items: flex-start;

		@media (max-width: $grid-bp-mobile) {
			flex-direction: column;

			@media (min-width: $grid-bp-tablet-start) {
				&.start-pd-top {
					padding-top: 24vw;
				}
			}
		}
	}
	.contents-padding {
		padding-top: 15vw;

		@media (max-width: $grid-bp-mobile) {
			padding-top: 20vw;
		}
	}

	// mobile device
	.device-auto {
		margin-left: 3vw;
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;

		@media (max-width: $grid-bp-mobile) {
			margin: auto;
		}
		// 디바이스 오른쪽 정렬
		&.device-right {
			margin: 0 4vw 0 auto;

			@media (max-width: $grid-bp-mobile) {
				margin: 24vw auto 0 auto;
			}
		}
	}

	// paragraph
	.paragraph {
		width:31vw;
		margin: 2vw 2vw 0 auto;

		@media (max-width: $grid-bp-mobile) {
			width: 100%;
			margin: 24vw 0 0 0;

			@media (min-width: $grid-bp-tablet-start) {
				margin: 20vw 0 0 0;
			}
		}

		.title {
			text-indent: -.12vw;
		}

		.sub-title {
			display: inline-block;
		}

		.pd-top {
			padding: 2.4vw 0 0 0;
			@media (max-width: $grid-bp-mobile) {
				padding-top: 6vw;
			}
		}
		// paragraph 왼쪽 정렬
		&.paragraph-left {
			width: 27.5vw;
			margin: 2vw 0 0 3vw;

			@media (max-width: $grid-bp-mobile) {
				order: 1;
				width:100%;
				margin: 24vw 0 0 0;

				@media (min-width: $grid-bp-tablet-start) {
					margin: 20vw 0 0 0;
				}
			}
		}
	}

	// textground layout
	.textground {
		.contents-box:nth-child(2) {
			padding-top: 12vw;
			@media (max-width: $grid-bp-mobile) {
				padding-top: 24vw;
			}

			.device-auto {
				&.left {
					margin-left: 9vw;
					@media (max-width: $grid-bp-mobile) {
						margin-left: 0;
					}
				}
				&.right {
					margin: 13vw 9vw 0 auto;
					@media (max-width: $grid-bp-mobile) {
						margin: 24vw 0 0 auto;
					}
				}
			}
		}
		.paragraph-left {
			margin-top: 0.4vw;
			@media (max-width: $grid-bp-mobile) {
				margin-top: 24vw;
			}
		}
	}

	// dododo layout
	.portfolio {
		.paragraph-left {
			margin-top: 0.4vw;
			@media (max-width: $grid-bp-mobile) {
				margin-top: 24vw;
			}
		}
	}

	.continue-text {
		text-align: center;
		padding-top: 10vw;

		@media (max-width: $grid-bp-mobile) {
			padding-top: 24vw;
		}
	}
}