.work-category {
	position: absolute;
	z-index: 1020; // pc에서 header보다 높게
	top: 2.3vw;
	left: 33.2vw;

	li {
		cursor: pointer;
		// active 됐을때 after rotate 조정
		&:first-child {
			.page-sub-title:after {
				transform: translateY(-50%) rotate(-9deg);
			}
		}

		&:nth-child(2) {
			.page-sub-title:after {
				top: 16%;
				transform: translateY(-50%) rotate(-6deg);
			}
		}

		&:nth-child(3) {
			.page-sub-title:after {
				top: 9%;
				transform: translateY(-50%) rotate(-4deg);
			}
		}

		&:nth-child(4) {
			.page-sub-title:after {
				transform: translateY(-50%) rotate(-7deg);
			}
		}

		&:last-child {
			.page-sub-title:after {
				transform: translateY(-50%) rotate(-7deg);
			}
		}

		// active 됐을때 after width 변경
		&.active {
			color: $point-blue;

			.page-sub-title:after {
				width: 100%;
			}
		}
	}

	.page-sub-title {
		position: relative;
		display: inline-block;
		padding: 0 .4vw;

		&:after {
			display: block;
			content: '';
			position: absolute;
			top: 30%;
			right: 0;
			transform-origin: right;
			background-color: $point-blue;
			transform: translateY(-50%);
			width: 0;
			height: 1px;
			transition: all .2s ease-in;
		}
	}

	li + li {
		margin-top: 1.6vw;
	}

	// mobile category
	@media (max-width: $grid-bp-mobile) {
		// mobile에서 category z-index 헤더보다 낮게 조절
		&.mobile-z-index {
			z-index: 10;
		}
		top: 5.2vw;
		left: 40vw;
		@media (min-width: $grid-bp-tablet-start) {
			top: 4.4vw;
			left: 35vw;
		}

		.select-box {
			position: relative;
			font-size: 4.4vw;
			font-weight: $medium;
			@media (min-width: $grid-bp-tablet-start) {
				font-size: 3.6vw;
			}

			label {
				padding-right: 6vw;
				background: url(/images/select-arrow.svg) no-repeat right center;
				@media (min-width: $grid-bp-tablet-start) {
					background-size: 2.4vw;
				}
			}

			select {
				position: absolute;
				top: 0;
				left: 0;
				z-index: 1;
				-webkit-appearance: none;
				-moz-appearance: none;
				appearance: none;
				border: none;
				outline: none;
				width: 100%;
				height: 100%;
				opacity: 0;
			}
		}
	}
}

// work list section
.work-list {
	position: relative;
	z-index: 1;
	padding-top: 20vw;

	.work-list__ul {
		font-size: 0;
		margin: 0 -1vw;

		.work-list__li {
			display: inline-block;
			width: 33.333333%;
			padding: 0 1vw;
		}

		@media (max-width: $grid-bp-mobile) {
			margin: 0;
			.work-list__li {
				width: 100%;
				padding: 0;
			}
			@media (min-width: $grid-bp-tablet-start) {
				margin: 0 -1.5vw;
				.work-list__li {
					width: 50%;
					padding: 0 1.5vw;
				}
			}
		}
	}

	.list-content {
		.img-box {
			background-color: $gray-ft;
			background-repeat: no-repeat;
			background-position: center;
			background-size: cover;
			padding-bottom: 56%;
		}

		// 높이를 정해준 이유는 title이 한글이 되었을때 사이즈가 작아져서 리스트들 정렬이 제대로 안됨
		.text-area {
			height: 4vw;
			margin-bottom: 4vw;

			@media (max-width: $grid-bp-mobile) {
				height: 16vw;
				margin-bottom: 11vw;
				@media (min-width: $grid-bp-tablet-start) {
					height: 10vw;
					margin-bottom: 7vw;
				}
			}

			.list-tag {
				color: $point-blue;
				font-size: 0.8vw;
				font-weight: $regular;
				padding: 1vw 0 .18vw 0;
				text-transform: uppercase;

				@media (max-width: $grid-bp-mobile) {
					font-size: 3.9vw;
					font-weight: $regular;
					padding: 4vw 0 1vw 0;
					@media (min-width: $grid-bp-tablet-start) {
						font-size: 2.4vw;
						padding: 2.2vw 0 .25vw 0;
					}
				}
			}

			.list-title {
				font-size: 1.1vw;
				font-weight: $medium;

				@media (max-width: $grid-bp-mobile) {
					font-size: 5vw;
					@media (min-width: $grid-bp-tablet-start) {
						font-size: 3vw;
					}
				}
				// list-title이 한글일때 사이즈 조절
				&.title-kor {
					font-size: 0.94vw;
					padding-top: 0.1vw;

					@media (max-width: $grid-bp-mobile) {
						font-size: 4.3vw;
						@media (min-width: $grid-bp-tablet-start) {
							font-size: 2.5vw;
							padding-top: 0.3vw;
						}
					}
				}
			}
		}
	}
}