// work detail paragraph
.wd-paragraph {
	width: 26vw;  // work detail paragraph pc 기본 넓이

	a {
		position: relative;
		z-index: 1;
	}

	@media (max-width: $grid-bp-mobile) {
		width: 100%;
	}

	.sub-title {
		padding-bottom: 2vh;

		@media (max-width: $grid-bp-mobile) {
			font-size: 4.4vw;
			padding-bottom: 4vw;

			@media (min-width: $grid-bp-tablet-start) {
				font-size: 3vw;
				padding-bottom: 2vw;
			}
		}
	}

	// text layout : middle
	&.paragraph-middle {
		margin: auto 0;

		@media (max-width: $grid-bp-mobile) {
			margin: initial;
		}
	}

	// text layout : bottom
	&.paragraph-bottom {
		margin-top: auto;

		@media (max-width: $grid-bp-mobile) {
			margin: initial;
		}
	}
}

// image layout : height full
.wd-image {
	height: 100%;
	img {
		width: auto;
	}

	@media (max-width: $grid-bp-mobile) {
		img {
			width: 100%;
		}
	}
}

// 컨포넌트 공통요소
.wd-body {
	display: flex;
	justify-content: flex-start;
	width: 100%;
	height: 100%;
	padding-left: 2vw;

	@media (max-width: $grid-bp-pro-port) {
		width: 100%;
	}

	@media (max-width: $grid-bp-mobile) {
		flex-direction: column;
		flex-wrap: wrap;
		width: 100%;
		height: auto;

		@media (min-width: $grid-bp-tablet-start) {
		}
	}

	.body-items {
		flex: none;  // 0 0 auto 와 동일
		margin-left: 18vw;

		@media (max-width: $grid-bp-mobile) {
			margin-left: 0;
			margin-top: 24vw;
		}

		// 이미지 옆 좁은 단락
		&.wd-paragraph-narrow {
			width: 16vw;

			@media (max-width: $grid-bp-mobile) {
				width: 100%;
			}
		}

		// 마진 좁게 (2단계)
		&.margin-narrow {
			margin-left: 4vw;
			@media (max-width: $grid-bp-mobile) {
				margin-left: 0;
				margin-top: 10vw;
			}
		}

		// 마진 살짝 좁게 (1단계)
		&.margin-narrow-little {
			margin-left: 6vw;
			@media (max-width: $grid-bp-mobile) {
				margin-left: 0;
				margin-top: 12vw;
			}
		}
	}

	// contents image : img-top, text-bottom
	.wd-contents {
		display: flex;
		flex-direction: column;
		height: 100%;

		// image layout
		.wd-image {
			width: 100%;
			height: 80%;
			img {
				width: auto;
				height: 100%;
			}

			@media (max-width: $grid-bp-mobile) {
				height: auto;
				padding-top: 0;

				img {
					width: 100%;
				}
			}
		}

		// text layout
		.wd-paragraph {
			padding-top: 4vh;
			width: 100%;
		}

		// contents text : img-bottom. text-top
		&.contents-text {
			.wd-paragraph {
				padding-top: 0;
				width: 26vw;
				@media (max-width: $grid-bp-mobile) {
					width: 100%;
				}
			}

			.wd-image {
				height: 60%;
				margin-top: auto;
				@media (max-width: $grid-bp-mobile) {
					width: 100%;
					padding-top: 12vw;
				}
			}
		}
	}
}